@using NewsletterAppMVC.Models
@model List<NewsletterSignup> 

<!--we pass a list here, our admin page will display all the signups-->

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Sign-ups</h5>
        </div>
        <div class="card-body">
            <!--we loop through the list and create a row for each signup:-->
            <!--our Model is a list so we can loop through it-->
            @foreach (var signup in Model)
            {
                <div class="row">
                    <div class="col">
                        @signup.FirstName
                        <!---->
                    </div>
                    <div class="col">
                        @signup.LastName
                    </div>
                    <div class="col">
                        @signup.EmailAddress
                    </div>
                </div>
            }

        </div>
    </div>
</div>