<!--ViewBag.RandomNumber-->

@using System.Collections.Generic

<!-- you just have to write the datatype: string -->
<!--<model List<string> //add at symbol before model

foreach (var name in Model) //add at symbol before foreach
{
    <h1>--><!--we are creating h1 tags for each name-->
        <!--name //add at symbol before name
    </h1>
}-->

@model int
    <h1>
        @Model
    </h1>


